* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(8, auto);
}

.header {
    grid-column: 1/-1;
    grid-row: 1;
}

