* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(8, auto);
}

header {
    grid-column: 1/-1;
    grid-row: 1;
}

nav {
    grid-column: 2;
    grid-row: 3;
}

main {
    grid-column: 1;
    grid-row: 3;
}

aside {
    grid-column: 1/-1;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    grid-column: 1/-1;
    background-color: #5C80D6;
    text-align: center;
    grid-row: 100;      /* пока так */
    min-height: 100px;
    font-size: 24px;
}


#ava {      /* Это типа резиновая шапка:) */
    width: 100%;
    height: auto;
}

aside {
    background-color: #5C80D6;
    font-size: 40px;
    color: white;
}

#karta {
    width: 100%;
    height: auto;
}